<!-- [Sidebar] -->

<ul class="navbar-nav bg-gradient-primary sidebar">

    <a href="#" class="sidebar-brand d-flex align-items-center justify-content-center">
        <h1>Logo</h1>
    </a>

    <!-- [Divider] -->

    <hr class="sidebar-divider my-0">

    <!-- [Nav Items] -->

    <li class="nav-item sidebar-user-panel">

        <div class="user-panel">

            <div class="image">

                <img src="assets/images/admin.jpg" class="img-fluid" alt="admin" />

            </div>

            <div class="profile-usertitle text-center">

                <h5 class="mb-0">Nikon Taylor</h5>

                <span>Admin</span>

            </div>

        </div>

    </li>


    <li class="nav-item active">

        <a href="#" class="nav-link">

            <i class="fa fa-tachometer" aria-hidden="true"></i>

            <span>Dashboard</span>

        </a>

    </li>

    <li class="nav-item active">

        <a href="#" class="nav-link">

            <i class="fa fa-tasks" aria-hidden="true"></i>

            <span>Taskboard</span>

        </a>

    </li>

    <li class="nav-item">

        <a href="#" class="nav-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

            <i class="fa fa-calendar-plus-o"></i>

            <span>Appointments</span>

        </a>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">

            <div class="bg-white py-2 collapse-inner rounded">

                <a href="#" class="collapse-item"> View Appointment</a>

                <a href="#" class="collapse-item">Book Appointment </a>

            </div>

        </div>

    </li>

    <li class="nav-item">

        <a href="#" class="nav-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

            <i class="fa fa-user"></i>

            <span>Doctors</span>

        </a>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

            <div class="bg-white py-2 collapse-inner rounded">

                <a href="#" class="collapse-item">All Doctors</a>

                <a href="#" class="collapse-item">Doctor Profile </a>

            </div>

        </div>

    </li>

    <li class="nav-item">

        <a href="#" class="nav-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

            <i class="fa fa-user"></i>

            <span>Patients</span>

        </a>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">

            <div class="bg-white py-2 collapse-inner rounded">

                <a href="#" class="collapse-item">Patients</a>

                <a href="#" class="collapse-item">Patients Profile </a>

            </div>

        </div>

    </li>

</ul>

<!-- [/Sidebar] -->