html,
body {
    height: 100%;
}

select::-ms-expand {
    display: none;
}

#wrapper {
    display: flex;
}

.animated--grow-in {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
    animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
}

.text-xs {
    font-size: .7rem;
}

.text-gray-800 {
    color: #5a5c69;
}